# Python
venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data and logs
data/
logs/

# Configs & secrets
config/*.yaml
.env

# raw data (not tracked)
data/raw/
.env


# Infra env for airflow
.env
infra/.env

infra/aws_market_stream/terraform.tfvars
